
body { margin: 0; background-color:#fafafa; font-family:'Rob';}

.pushmenu { /*this is the nav*/
  background: RGBA(6, 6, 6, 0.82);
  text-align: center;
  width: 275px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
}
.div-main { /*this is the nav*/
  background:#34aa9c;
  text-align: center;
  width: 275px;
  height:115px;
  top: 0;
  overflow:hidden;
  display:block;
  padding-right:30px;
 
  
}

.pushmenu h3 {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: 400;
  padding: 15px 25px;
  margin: 0;
  background: #333;
  height: 16px;
}

.links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 10%;
    width: 80%;
}
.links li { margin-top: 30px; }


.links li a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 4px;
 background-color: #eefc6a;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.links li a:hover:after { width: 70%; }

.links li a:active { color: #dbdbdb; }

.pushmenu-left { left: -275px; }

.pushmenu-left.pushmenu-open { left: 0; }

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright { left: 275px; }

/*Transition*/

.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#nav_list {
    background:url() no-repeat left top;
    cursor: pointer;
    height: 27px;
    width: 33px;
    text-indent: -99999em;
    float: left;
    
   
	overflow:hidden;
	display:block;
}
nav-list.active { background-position: -331px top; }

.buttonsetNM {
    background:#34aa9c;
    height: 50px;
    padding: 10px 20px 20px;
    max-width: 100%;
	overflow:hidden;
	display:block;
}

section.content {
  padding: 10px 20px;
}


#logo {
  cursor: pointer;
height: 20px;
overflow: hidden;
float: left;
display: block;
margin: 0 auto;
width: 70%;
margin-top: 7px;
}
/*#logo {
    cursor: pointer;
    height: auto;
    float: right;
    display: block;
    margin: 0 auto;
  
}*/

/*img {
    max-width: 99%;
    height: auto;
    margin: 0 auto;
    margin-right: 10px;
}*/

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-right: 10px;
}
.links li a {
    position: relative;
    display: block;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    
    text-align: left;
}
.nav-icon
{
	overflow:hidden;
	display:block;
	width:200px;
		height:auto;
		margin:0 auto;
		margin-top:30px;
}